244Initials/force-app/main/default/flows/ARTL_Lead_UpdateCheckbox.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>Check_Owner_of_Lead_And_Account</name>
        <label>Check Owner of Lead And Account</label>
        <locationX>314</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Same</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Related_Account__r.OwnerId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_checkbox</targetReference>
            </connector>
            <label>Same</label>
        </rules>
        <rules>
            <name>Different</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Related_Account__r.OwnerId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_checkbox_to_false</targetReference>
            </connector>
            <label>Different</label>
        </rules>
    </decisions>
    <description>Update the check box to check if Lead Owner and Account Owner are same</description>
    <environments>Default</environments>
    <interviewLabel>ARTL_Lead_UpdateCheckbox {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ARTL_Lead_UpdateCheckbox</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>update_checkbox</name>
        <label>update checkbox</label>
        <locationX>50</locationX>
        <locationY>395</locationY>
        <inputAssignments>
            <field>ARTL_Account_Owner_Equals_Lead_Owner__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_checkbox_to_false</name>
        <label>update checkbox to false</label>
        <locationX>314</locationX>
        <locationY>395</locationY>
        <inputAssignments>
            <field>ARTL_Account_Owner_Equals_Lead_Owner__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Owner_of_Lead_And_Account</targetReference>
        </connector>
        <object>Lead</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
