244Initials/force-app/main/default/flows/Notify_Lead_Owner.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Notification_to_Lead_Owner</name>
        <label>Send Notification to Lead Owner</label>
        <locationX>182</locationX>
        <locationY>984</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Custom_Notification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>varListLeadOwner</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>NotificationTitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>NotificationBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Add_Manager_Ids</name>
        <label>Add Manager Ids</label>
        <locationX>50</locationX>
        <locationY>792</locationY>
        <assignmentItems>
            <assignToReference>varListLeadOwner</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Owner:User.ManagerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Notification_to_Lead_Owner</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>GetOwnerId</name>
        <label>GetOwnerId</label>
        <locationX>182</locationX>
        <locationY>576</locationY>
        <assignmentItems>
            <assignToReference>varListLeadOwner</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_manager_present_for_lead_owner</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_notification_is_found</name>
        <label>Check if notification is found</label>
        <locationX>336</locationX>
        <locationY>468</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Notification_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Custom_Notification.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetOwnerId</targetReference>
            </connector>
            <label>Is Notification Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_manager_present_for_lead_owner</name>
        <label>Is manager present for lead owner</label>
        <locationX>182</locationX>
        <locationY>684</locationY>
        <defaultConnector>
            <targetReference>Send_Notification_to_Lead_Owner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:User.ManagerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Manager_Ids</targetReference>
            </connector>
            <label>Present</label>
        </rules>
    </decisions>
    <decisions>
        <name>Lead_Not_Visited_in_2_days</name>
        <label>Lead Not Visited in 2 days</label>
        <locationX>545</locationX>
        <locationY>252</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Lead_Not_Visited_in_2_days</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Differenceintime</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Custom_Notification</targetReference>
            </connector>
            <label>Is Lead Not Visited in 2 days</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Differenceintime</name>
        <dataType>Number</dataType>
        <expression>NOW() - {!$Record.LastModifiedDate}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>LastModifiedDateActualValue</name>
        <dataType>DateTime</dataType>
        <expression>{!$Record.LastModifiedDate}</expression>
    </formulas>
    <interviewLabel>Notify Lead Owner {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Notify Lead Owner</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Custom_Notification</name>
        <label>Get Custom Notification</label>
        <locationX>336</locationX>
        <locationY>360</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_notification_is_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Lead_Notification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>419</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Lead_Not_Visited_in_2_days</targetReference>
        </connector>
        <object>Lead</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2023-09-21</startDate>
            <startTime>14:30:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>checkifworked</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NotificationBody</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Dear {!$Record.Owner:User.FirstName} {!$Record.Owner:User.LastName}, A lead from {!$Record.Company} for {!$Record.Lead_Product__c} with a LeadID: {!$Record.Id} is pending in your bin for action from the past 48 Hours. You are requested to take necessary action of talking to customer immediately and accordingly update the lead status in SFDC from Lead View Section itself ..  Lead path in SFDC ( Go to SFDC Home Page =&gt; View All Leads =&gt; Select lead =&gt; Click on View/ Edit update Lead Status =&gt; update with Lead Remarks.</stringValue>
        </value>
    </variables>
    <variables>
        <name>NotificationTitle</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Lead {!$Record.Name}  is not visited</stringValue>
        </value>
    </variables>
    <variables>
        <name>varListLeadOwner</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
